In [1]:
import pandas as pd

In [4]:
data = pd.read_csv(r"C:\umkc\courses\pds\assignments\cars\data_raw\train.csv", encoding = "ISO-8859-1")

In [5]:
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

### Missing values

It is observed that mileage has significantly less number of rows having missing values so dropping those rows. Similarly in Engine, Power, Seats. Since they are significant values that are necessary for getting the price to sell the car.

In [8]:
data.dropna(subset=['Mileage'], inplace=True)

In [10]:
data['Mileage'].isnull().any()

False

In [11]:
data.dropna(subset=['Engine', 'Power', 'Seats'], inplace=True)

In [12]:
data['Engine'].isnull().any()

False

In [13]:
data['Power'].isnull().any()

False

In [14]:
data['Seats'].isnull().any()

False

Filling the empty cells in new_price with 0, indicating there is no price given.

In [15]:
data['New_Price'].fillna(0,inplace=True)

In [16]:
data['New_Price'].isnull().any()

False

### Removing units

In Mileage, few cells have different units. Converting them to kmpl and removing the units

In [21]:
new_mileage = []
for i in data.Mileage:
    if 'km/kg' in i:
        j = float(i.replace(' km/kg', '').strip()) * 1.40
        new_mileage.append(float(j))
    else:
        j = float(i.replace(' kmpl', '').strip())
        new_mileage.append(float(j))

In [23]:
data['Mileage'] = new_mileage

In [24]:
new_cc = []
for i in data.Engine:
    j=i.replace(' CC','').strip()
    new_cc.append(j)

In [26]:
data['Engine'] = new_cc

In [27]:
new_bhp = []
for i in data.Power:
    j=i.replace(' bhp','').strip()
    new_bhp.append(j)

In [29]:
data['Power']=new_bhp

In [35]:
new_p = []
for i in data.New_Price:
    if isinstance(i, str):
        if 'Cr' in i:
            j = float(i.replace(' Cr', '').strip()) * 100
            new_p.append(float(j))
        else:
            j = float(i.replace(' Lakh', '').strip())
            new_p.append(float(j))
    else:
        new_p.append(float(i))

In [41]:
data['New_Price'] = new_p

### Categorical Variables

In [69]:
data1 = data

In [70]:
data1.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,0.00,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20,1199,88.7,5.0,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,0.00,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.8,5.0,0.00,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,0.00,3.50

In [73]:
data = pd.get_dummies(data, columns=['Fuel_Type'])

In [76]:
data.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type',
       'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Transmission_Automatic',
       'Transmission_Manual'],
      dtype='object')

In [75]:
data = pd.get_dummies(data, columns=['Transmission'])

In [77]:
data.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,0.00,12.50,1,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,18.20,1199,88.7,5.0,8.61,4.50,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,0.00,6.00,1,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.8,5.0,0.00,17.74,1,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,0.00,3.50,1,0,0,1

### Adding new column

In [78]:
current_year = []
for i in data.Year:
    y = 2023-i
    current_year.append(y)

In [80]:
data['age']=current_year

In [81]:
data.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,0.00,12.50,1,0,0,1,8
1,Honda Jazz V,Chennai,2011,46000,First,18.20,1199,88.7,5.0,8.61,4.50,0,1,0,1,12
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,0.00,6.00,1,0,0,1,11
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.8,5.0,0.00,17.74,1,0,1,0,10
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,0.00,3.50,1,0,0,1,10

In [82]:
data.to_csv("data_clean.csv", index="False", encoding="ISO-8859-1")