In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
frailty = pd.read_csv(r"C:\umkc\courses\pds\assignments\Frailty analysis\data_clean\data_clean.csv" , encoding = "ISO-8859-1")

In [3]:
frailty.columns = frailty.columns.str.strip()

In [4]:
frailty.head()

  Height     Weight  Age Grip strength Frailty
0  65.8   50.802867  30            30       N
1  71.5   61.689195  19            31       N
2  69.4   69.400345  45            29       N
3  68.2   64.410777  22            28       Y
4  67.8   65.317972  29            24       Y

In [5]:
print(frailty.columns)

Index(['Height', 'Weight', 'Age', 'Grip strength', 'Frailty'], dtype='object')

In [6]:
frailty['Frailty'] = frailty['Frailty'].str.strip()
frailty['Age'] = frailty['Age'].astype(int)

In [7]:
frailty['Frailty01'] = frailty['Frailty'].map({'N': 0, 'Y': 1})

In [8]:
frailty.head()

  Height     Weight  Age Grip strength Frailty  Frailty01
0  65.8   50.802867   30           30        N          0
1  71.5   61.689195   19           31        N          0
2  69.4   69.400345   45           29        N          0
3  68.2   64.410777   22           28        Y          1
4  67.8   65.317972   29           24        Y          1

In [9]:
t_test = stats.ttest_ind(a=frailty['Age'], b=frailty['Frailty01'], equal_var=True)

In [10]:
filepath = r"C:\umkc\courses\pds\assignments\Frailty analysis\results"

In [15]:
with open(r"C:\umkc\courses\pds\assignments\Frailty analysis\results\results.txt", 'w') as file:
     file.write(f'T-test results:\n')
     file.write(f'T-statistic: {t_test.statistic}\n')
     file.write(f'P-value: {t_test.pvalue}\n')