In [41]:
import pandas as pd

In [42]:
frailty = pd.read_csv(r"C:\umkc\courses\pds\assignments\Frailty analysis\data_raw\data_frailty_raw.csv" , encoding = "ISO-8859-1")

In [43]:
frailty.head()

  Height  Weight  Age  Grip strength  Frailty
0   65.8     112   30             30        N
1   71.5     136   19             31        N
2   69.4     153   45             29        N
3   68.2     142   22             28        Y
4   67.8     144   29             24        Y

In [44]:
print(frailty.columns)
print(frailty.dtypes)
frailty['Weight'] = frailty['Weight '].astype(float)
print(frailty.columns)

Index(['Height ', 'Weight ', 'Age ', 'Grip strength ', 'Frailty '], dtype='object')
Height            object
Weight            object
Age               object
Grip strength     object
Frailty           object
dtype: object
Index(['Height ', 'Weight ', 'Age ', 'Grip strength ', 'Frailty ', 'Weight'], dtype='object')

In [45]:
frailty['Weight'] = frailty['Weight']/2.2046

In [46]:
frailty.head()

  Height  Weight  Age  Grip strength  Frailty      Weight
0   65.8     112   30             30        N   50.802867
1   71.5     136   19             31        N   61.689195
2   69.4     153   45             29        N   69.400345
3   68.2     142   22             28        Y   64.410777
4   67.8     144   29             24        Y   65.317972

In [47]:
frailty['Weight '] = frailty.pop('Weight')

In [49]:
frailty.to_csv("data_clean.csv", index="False", encoding="ISO-8859-1")