In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\umkc\courses\pds\assignments\Student performance\data_raw\StudentsPerformance.csv")

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
missing_values = data.isnull().any().any()

In [11]:
if missing_values == False:
    print("No missing values are present")
else:
    print("missing values are present")

No missing values are present

In [12]:
data.to_csv("data_clean.csv", index="False")